html,body{
    margin: 0;
    padding: 0;
    background-color: #2B2B52;
}

.main{
    text-align: center;
}

.main h1{
    color: #333;
}

.main .img{
    height: 200px;
    width: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../img/jitusd9.jfif') center center /cover;
    border-radius: 50%;
    position: absolute;
}
